# In this file, we load production configuration and secrets
# from environment variables. You can also hardcode secrets,
# although such is generally not recommended and you have to
# remember to add this file to your .gitignore.
use Mix.Config

# Config your database
config :pyairwaves, Pyairwaves.Repo,
  adapter: Ecto.Adapters.Postgres,
  username: "pyairwaves",
  password: "xxx",
  database: "pyairwaves",
  hostname: "127.0.0.1",
  pool_size: 10

# Please fill one ! Generate one with `mix phx.gen.secret`
secret_key_base = ""

config :pyairwaves, PyairwavesWeb.Endpoint,
  http: [
    ip: {0,0,0,0}, port: 4000
  ],
  # Scheme and port should match what your *real webserver* is serving
  url: [host: "pyairwaves.mystation.tld", scheme: "https", port: 443],
  secret_key_base: secret_key_base,
  # https://hexdocs.pm/phoenix_pubsub_redis/Phoenix.PubSub.Redis.html

# ## Using releases (Elixir v1.9+)
#
# If you are doing OTP releases, you need to instruct Phoenix
# to start each relevant endpoint:
#
#     config :pyairwaves, PyairwavesWeb.Endpoint, server: true
#
# Then you can assemble a release by calling `mix release`.
# See `mix help release` for more information.

# Configuration of the PubSub Redis server used between the backend and the data parsers
config :pyairwaves, redis: "redis://127.0.0.1:6379/4"
