*.pyc
/config.py
/.idea
*.db
/.pytest_cache/
/.eggs
.coverage
.ropeproject
/.mypy_cache
test/unit/coverage/
test/e2e/reports
.DS_Store
/docs-build
/docs/_build/
/venv
/*.log

api/config/*_secret.py

# Translations
*.mo

*~

front/src/translations.json
front/src/translations/*.json
front/locales/en_US/LC_MESSAGES/app.po

.env
/data
/api/celerybeat-schedule
