SQLALCHEMY_DATABASE_URI = \
    'postgresql+psycopg2://postgres@database/pyairwaves'

# Redis configuration for the ingesters<>backend pubsub
REDIS_URL = "redis://127.0.0.1:6379/3"

# Do not touch that
SQLALCHEMY_TRACK_MODIFICATIONS = False
SQLALCHEMY_RECORD_QUERIES = True
