{% extends "layout.jinja2" %}

{% block content %}
    <div class="noMap row justify-content-md-center">
      <div class="col-md-10">
        <p>This website runs pyAirwaves {{ g.cfg['PYAIRWAVES_VERSION'] }}</p>
        <p>Sources of pyAirwaves can be found <a href="https://github.com/rhaamo/pyAirwaves" target="_blank">here</a>.
      </div>
    </div>
{% endblock %}