[Unit]
Description=pyAirwaves webserver
After=network.target

[Service]
ExecStart=/home/pyairwaves/.pyenv/shims/python /home/pyairwaves/pyAirwaves/app.py
Type=simple
RestartSec=5
Restart=on-failure
User=pyairwaves

[Install]
WantedBy=multi-user.target
