[Unit]
Description=pyAirwaves webserver
After=network.target

[Service]
ExecStart=mix phx.server
Type=simple
RestartSec=5
Restart=on-failure
User=pyairwaves
WorkingDirectory=/home/pyairwaves/pyAirwaves/backend

[Install]
WantedBy=multi-user.target
