<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>pyAirwaves</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/leaflet.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
</head>
<body>
<div class="galaxy">
    <div class="sidebar"></div>
    <div id="world"></div>
</div>

<script src="{{ url_for('static', filename='js/leaflet-src.js') }}"></script>
<script src="{{ url_for('static', filename='js/leaflet-providers.js') }}"></script>
<script src="{{ url_for('static', filename='js/leaflet.planemarker.js') }}"></script>
<script src="{{ url_for('static', filename='js/leaflet.boatmarker.js') }}"></script>
<script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
<script src="{{ url_for('static', filename='js/pyairwaves/main.js') }}"></script>
<script src="{{ url_for('static', filename='js/pyairwaves/map.js') }}"></script>
<script src="{{ url_for('static', filename='js/pyairwaves/socketio.js') }}"></script>

</body>
</html>