<!--
pyAirwaves geospatial viewer by Dashie (https://github.com/rhaamo)

This project is licensed under GPLv3. See COPYING for dtails.

This file is part of the airSuck project (https://github.com/rhaamo/pyAirwaves).
-->

<!doctype html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    
    <title>pyAirwaves geospatial viewer</title>
    
    <!-- Scripts and CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/main.css"><!-- Master stylesheet -->
    <link rel="stylesheet" type="text/css" href="static/css/sidebar.css"><!-- Master stylesheet -->
    <link rel="stylesheet" type="text/css" href="static/css/leaflet.css"><!-- Leaflet stylesheet -->
    <link rel="stylesheet" type="text/css" href="static/css/leaflet-sidebar.min.css"><!-- LEaflet-sidebar stylesheet -->
    <link rel="stylesheet" type="text/css" href="static/css/fork-awesome.min.css"><!-- Master stylesheet -->
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css"><!-- Bootstrap stylesheet -->

    <script src="static/js/jquery-3.4.1.min.js" type="text/javascript"></script><!-- Include jQuery because normal JS sucks. -->
    <script src="static/js/bootstrap.min.js" type="text/javascript"></script><!-- Include Bootstrap. -->
    <script src="static/js/socket.io.js" type="text/javascript"></script><!-- Include Socket.IO. -->
    <script src="static/js/logger.min.js" type="text/javascript"></script><!-- Include js-Logger. -->
    <script src="static/js/leaflet.js" type="text/javascript"></script><!-- Include Leaflet mapping stuff. -->
    <script src="static/js/leaflet-providers.js" type="text/javascript"></script><!-- Include Leaflet provider. -->
    <script src="static/js/leaflet.planemarker.js" type="text/javascript"></script><!-- Include canvas plane marker. -->
    <script src="static/js/leaflet.boatmarker.js" type="text/javascript"></script><!-- Include canvas boat marker. -->
    <script src="static/js/leaflet-sidebar.min.js" type="text/javascript"></script><!-- Include leaflet sidebar. -->
    <script src="static/js/L.Terminator.js" type="text/javascript"></script><!-- Include leaflet terminator. -->
    <script src="static/js/airsuckLoad.js" type="text/javascript"></script><!-- Include airsuck JS loader. -->

  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="/">pyAirwaves {{ g.cfg['PYAIRWAVES_VERSION'] }}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Map</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
        </ul>
        <span id="websocket-status" class="badge badge-pill badge-secondary" title="WebSocket status unknown"><i class="fa fa-question-circle-o"></i></span>
      </div>
    </nav>

    <div class="content">
      {% block content %}{% endblock %}
    </div>

    <form><input type="text" class="msgBx" id="message" value="Waiting for message data..." /></form>

    {% block scripts %}{% endblock %}
  </body>
</html>
